<a href="https://colab.research.google.com/github/ylmgrbzz/Machine-Learning-and-Data-Analysis-in-Cancer-Prognosis-and-Prediction/blob/main/Data_Analysis_in_Cancer_Prognosis_and_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt 
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet,LogisticRegression
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import PolynomialFeatures,Normalizer

In [ ]:
df=pd.read_csv("cancer.csv")

In [ ]:
df.head(3)

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.8,1001.0,0.11840,0
1,20.57,17.77,132.9,1326.0,0.08474,0
2,19.69,21.25,130.0,1203.0,0.10960,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mean_radius      569 non-null    float64
 1   mean_texture     569 non-null    float64
 2   mean_perimeter   569 non-null    float64
 3   mean_area        569 non-null    float64
 4   mean_smoothness  569 non-null    float64
 5   diagnosis        569 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 26.8 KB

In [ ]:
y=df[["diagnosis"]]
x=df.drop("diagnosis",axis=1)

In [ ]:
reg=LinearRegression()
model=reg.fit(x,y)

In [ ]:
model.score(x,y)

0.6464881711839043

In [ ]:
log=LogisticRegression() 
model=log.fit(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
model.score(x,y)

0.9121265377855887

In [ ]:
log=LogisticRegression() 
model=log.fit(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
model.score(x,y)

0.9121265377855887

In [ ]:
poly=PolynomialFeatures(2)
polx=poly.fit_transform(x)

In [ ]:
pd.DataFrame(polx)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.0,17.99,10.38,122.80,1001.0,0.11840,323.6401,186.7362,2209.1720,18007.990,...,107.7444,1274.6640,10390.380,1.228992,15079.8400,122922.800,14.539520,1002001.00,118.518400,0.014019
1,1.0,20.57,17.77,132.90,1326.0,0.08474,423.1249,365.5289,2733.7530,27275.820,...,315.7729,2361.6330,23563.020,1.505830,17662.4100,176225.400,11.261946,1758276.00,112.365240,0.007181
2,1.0,19.69,21.25,130.00,1203.0,0.10960,387.6961,418.4125,2559.7000,23687.070,...,451.5625,2762.5000,25563.750,2.329000,16900.0000,156390.000,14.248000,1447209.00,131.848800,0.012012
3,1.0,11.42,20.38,77.58,386.1,0.14250,130.4164,232.7396,885.9636,4409.262,...,415.3444,1581.0804,7868.718,2.904150,6018.6564,29953.638,11.055150,149073.21,55.019250,0.020306
4,1.0,20.29,14.34,135.10,1297.0,0.10030,411.6841,290.9586,2741.1790,26316.130,...,205.6356,1937.3340,18598.980,1.438302,18252.0100,175224.700,13.550530,1682209.00,130.089100,0.010060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,1.0,21.56,22.39,142.00,1479.0,0.11100,464.8336,482.7284,3061.5200,31887.240,...,501.3121,3179.3800,33114.810,2.485290,20164.0000,210018.000,15.762000,2187441.00,164.169000,0.012321
565,1.0,20.13,28.25,131.20,1261.0,0.09780,405.2169,568.6725,2641.0560,25383.930,...,798.0625,3706.4000,35623.250,2.762850,17213.4400,165443.200,12.831360,1590121.00,123.325800,0.009565
566,1.0,16.60,28.08,108.30,858.1,0.08455,275.5600,466.1280,1797.7800,14244.460,...,788.4864,3041.0640,24095.448,2.374164,11728.8900,92932.230,9.156765,736335.61,72.552355,0.007149
567,1.0,20.60,29.33,140.10,1265.0,0.11780,424.3600,604.1980,2886.0600,26059.000,...,860.2489,4109.1330,37102.450,3.455074,19628.0100,177226.500,16.503780,1600225.00,149.017000,0.013877
568,1.0,7.76,24.54,47.92,181.0,0.05263,60.2176,190.4304,371.8592,1404.560,...,602.2116,1175.9568,4441.740,1.291540,2296.3264,8673.520,2.522030,32761.00,9.526030,0.002770

In [ ]:
model=log.fit(polx,y)
model.score(polx,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

0.9209138840070299

In [ ]:
norm=Normalizer()

In [ ]:
print(x)

     mean_radius  mean_texture  mean_perimeter  mean_area  mean_smoothness
0          17.99         10.38          122.80     1001.0          0.11840
1          20.57         17.77          132.90     1326.0          0.08474
2          19.69         21.25          130.00     1203.0          0.10960
3          11.42         20.38           77.58      386.1          0.14250
4          20.29         14.34          135.10     1297.0          0.10030
..           ...           ...             ...        ...              ...
564        21.56         22.39          142.00     1479.0          0.11100
565        20.13         28.25          131.20     1261.0          0.09780
566        16.60         28.08          108.30      858.1          0.08455
567        20.60         29.33          140.10     1265.0          0.11780
568         7.76         24.54           47.92      181.0          0.05263

[569 rows x 5 columns]

In [ ]:
pd.DataFrame(norm.fit_transform(x))

            0         1         2         3         4
0    0.017835  0.010290  0.121739  0.992349  0.000117
1    0.015432  0.013332  0.099706  0.994808  0.000064
2    0.016268  0.017557  0.107407  0.993927  0.000091
3    0.028947  0.051659  0.196649  0.978684  0.000361
4    0.015557  0.010995  0.103584  0.994438  0.000077
..        ...       ...       ...       ...       ...
564  0.014508  0.015066  0.095550  0.995205  0.000075
565  0.015872  0.022274  0.103447  0.994259  0.000077
566  0.019179  0.032443  0.125127  0.991425  0.000098
567  0.016179  0.023036  0.110034  0.993529  0.000093
568  0.041059  0.129844  0.253549  0.957689  0.000278

[569 rows x 5 columns]

In [ ]:
log=LogisticRegression(solver="newton-cg")
norm=Normalizer()
normx=norm.fit_transform(polx)

In [ ]:
model=log.fit(normx,y)
model.score(normx,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6309314586994728